.header-div {
    background: linear-gradient(to right, #6c457f, #386c82, #6c457f);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 15px;

}